# **Random Forest Classification Implementation Using Scikit-Learn**

*By Carlos Santiago Bañón*

* **Year:** 2020
* **Technologies:** Python, Scikit-Learn, Pandas, NumPy
* **Areas**: Machine Learning, Classification, Ensemble Learning
* **Keywords:** `classification`, `ensemble-learning`, `machine-learning`, `random-forest`, `random-forest-classification`
* **Description:** This notebook presents an implementation of random forest classification using the Scikit-Learn library. The data used is a preprocessed version of the Kaggle Titanic dataset hosted in the GitHub repository for this notebook.

## 1. Import Statements
---

In [1]:
import numpy as np
import pandas as pd
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

## 2. Load the Data
---

First, we import the preprocessed Kaggle Titanic dataset hosted in the GitHub repository for this notebook.

In [2]:
# Import the data into Pandas DataFrames.
train_df = pd.read_csv('https://bit.ly/39AQRJj')
test_df = pd.read_csv('https://bit.ly/3aoJzHG')

In [3]:
# Show the training set.
train_df

     Age  Survived  Pclass  SibSp  Fare  Gender
0      2         0       3      1     0       0
1      3         1       1      1     3       1
2      2         1       3      0     1       1
3      3         1       1      1     3       1
4      3         0       3      0     1       0
..   ...       ...     ...    ...   ...     ...
886    2         0       2      0     1       0
887    2         1       1      0     2       1
888    2         0       3      1     2       1
889    2         1       1      0     2       0
890    3         0       3      0     0       0

[891 rows x 6 columns]

In [4]:
# Show the test set.
test_df

     Age  Pclass  SibSp  Fare  Gender
0      3       3      0     0       0
1      4       3      1     0       1
2      5       2      0     1       0
3      2       3      0     1       0
4      2       3      1     1       1
..   ...     ...    ...   ...     ...
413    3       3      0     1       0
414    3       1      0     3       1
415    3       3      0     0       0
416    3       3      0     1       0
417    3       3      1     2       0

[418 rows x 5 columns]

In [5]:
# Set up the learning matrices.
X_train = train_df.drop('Survived', axis=1, inplace=False).to_numpy()
y_train = train_df[['Survived']].to_numpy()

## 3. Random Forest Classification
---

### 3.1. Define and Fit the Model

In [6]:
# Define the random forest classifier.
clf_random = RandomForestClassifier()

In [7]:
# Fit the random forest classifier.
clf_random = clf_random.fit(X_train, y_train.ravel())

### 3.2. Get the Cross-Validation Accuracy

In [8]:
# Get the accuracy from five-fold cross validation.
scores = cross_val_score(clf_random, X_train, y_train.ravel(), cv=5)
scores.mean()

0.8103571652752496